{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<div class="jumbotron">
        <h1>Customer's List</h1>
        {% for entity in entities %}
			<p>{{loop.index}}. {{ entity.name }}</p>
			<p>
			  <a class="btn btn-lg btn-primary" href="{{ path('customers_show', { 'id': entity.id }) }}" role="button">Show »</a>
			</p>
			</br>
		{% endfor %}
</div>
{% endblock %}
