{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<div class="jumbotron">
<h1>{{ entity.name }}</h1>
	<p>Address1 :- {{ entity.address1 }}</p>
	<p>Address2 :- {{ entity.address2 }}</p>
	<p>City :- {{ entity.city }}</p>
	<p>State :- {{ entity.state }}</p>
	<p>Zip :- {{ entity.zip }}</p>
	<p>Country :- {{ entity.country }}</p>
<p>
  <a class="btn btn-lg btn-primary" href="{{ path('customers') }}" role="button">Back to the list <<</a>
</p>
</div>
{% endblock %}
