{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header">
	<a class="btn btn-lg btn-info" href="{{ path('admin_customers') }}" role="button">Customers</a>
	<a class="btn btn-lg btn-success" href="{{ path('admin_user_list') }}" role="button">User</a>
	<a class="btn btn-lg btn-warning" href="{{ path('admin_roles') }}" role="button">Roles</a>
</h2>
{% endblock %}
