{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
      <div class="jumbotron">
        <h1>All Page's List</h1>
        <p>Customer's  Page</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{path('customers')}}" role="button">View &raquo;</a>
        </p>
        </br>
      </div>
{% endblock %}
