{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<p><a class="btn btn-primary" href="{{ path('admin_user_list') }}" role="button">Back to the list <<</a></p>
<div class="span6 well">
<h2 class="gradWellHead">Create User Account</h2>
    		<form action="{{ path('admin_user_add') }}" method="POST" class="form-signin" autocomplete="off" novalidate >
				<div class="control-group">
					<label class="control-label" for="inputEmail">Username*</label>
					<div class="controls">
						{{ form_widget(form.username, { 'attr':{class:'form-control','placeholder':'Username'} }) }}
						{{ form_errors(form.username)}}
	     			</div>
	     		</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Email*</label>
					<div class="controls">
						{{ form_widget(form.email, { 'attr':{class:'form-control','placeholder':'Email'} }) }}
						{{ form_errors(form.email)}}
	     			</div>
	     		</div>
				<div class="control-group">
						<label class="control-label" for="inputPassword">Password*</label>
					<div class="controls">
						{{ form_widget(form.plainpassword.first, { 'attr':{class:'form-control','placeholder':'Password','required': false} }) }}
						{{form_errors(form.plainpassword.first)}}
						<span style="color: red; font-size: 11px; display: block;">Maximum Length of password should be 6</span>
					</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="inputRePassword">Retype Password*</label>
					<div class="controls">
						
						{{ form_widget(form.plainpassword.second, { 'attr':{class:'form-control','placeholder':'Confirm Password','required': false} }) }}
						{{form_errors(form.plainpassword.second)}}
					</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="inputRePassword">isActive*</label>
					<div class="controls">
						
						{{ form_widget(form.isActive, { 'attr':{class:'form-control','placeholder':'isActive','required': false} }) }}
						{{form_errors(form.isActive)}}
					</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="inputCity">Phone Number</label>
					<div class="controls">
						
						{{ form_widget(form.phone_number, { 'attr':{class:'form-control','placeholder':'phoneNumber','required': false} }) }}
						{{form_errors(form.phone_number)}}
					</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="inputCity">City</label>
					<div class="controls">
						
						{{ form_widget(form.city, { 'attr':{class:'form-control','placeholder':'city','required': false} }) }}
						{{form_errors(form.city)}}
					</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="inputCity">Country</label>
					<div class="controls">
						
						{{ form_widget(form.country, { 'attr':{class:'form-control','placeholder':'country','required': false} }) }}
						{{form_errors(form.country)}}
					</div>
				</div>
				{{ form_rest(form) }}
				<div class="control-group marginTop10">
					<div class="controls">
						<input type="submit" class="btn" value="Create" />
					</div>
				</div>
			</form>
</div>
{% endblock %}
