{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
{% block breadcrumb %}
<a class="btn btn-primary" href="{{ path('admin_user_list') }}" role="button">Back to the list <<</a>
<h2 class="sub-header">User {{user.username|trans}} Profile View</h2>
{% endblock %}
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
	<h2 class="form-signin-heading btn btn-xs btn-success">{{ flashMessage }}</h2>
</div>
{% endfor %}
{% block profile %}
	<table class="table table-bordered">
	<tbody>
		<tr>
			<th>{{'Id'|trans}}</th>
			<td>{{ user.id}}</td>
		</tr>
		<tr>
			<th>{{'User'|trans}}</th>
			<td>{{ user.username}}</td>
		</tr>
		<tr>
			<th>{{'Password'|trans}}</th>
			<td>{{ user.plainpassword}}</td>
		</tr>
	</tbody>
	</table>

	<table class="table table-bordered">
	<tbody>
		<tr>
			<th>{{'City Name'|trans}}</th>
			<td>{{ user.city}}</td>
		</tr>
		<tr>
			<th>{{'Country'|trans}}</th>
			<td>{{ user.country}}</td>
		</tr>
		<tr>
			<th>{{'EMERGENCY PHONE 24 HOURS'|trans}}</th>
			<td>{{ user.phoneNumber}}</td>
		</tr>
		<tr>
			<th>{{'Active'|trans}}</th>
			<td>
				{% if user.isActive == '1' %}
					YES
				{% else %}
					NO
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>{{'ROLES'|trans}}</th>
			<td>
				{% for role in user.roles %}
					{{ role }}
				{% endfor %}
			</td>
		</tr>
	</tbody>
	</table>
{% endblock %}
{% endblock %}

