{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
{% block breadcrumb %}
<a class="btn btn-primary" href="{{ path('admin_user_list') }}" role="button">Back to the list <<</a>
<h2 class="sub-header"><li class="active">User {{user.username|trans}} Profile Edit</li></h2>
{% endblock %}
{% block edit %}
<div class="span6 well">
	{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="flash-notice">
		<h2 class="form-signin-heading btn btn-xs btn-success">{{ flashMessage }}</h2>
	</div>
	{% endfor %}
    <form action="{{ path('admin_profile_update', { 'id': user.id }) }}" method="POST" class="form-signin" autocomplete="off" novalidate >
        <div class="well">
            <div class="control-group">
                <label class="control-label" for="appbundle_admin_add_username">Username*</label>
                <div class="controls">
                    {{ form_widget(edit_form.username, { 'attr':{class:'form-control','placeholder':'Username'} }) }}
                    {{ form_errors(edit_form.username)}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="appbundle_admin_add_email">Email</label>
                <div class="controls">
                    {{ form_widget(edit_form.email, { 'attr':{class:'form-control','placeholder':'Email'} }) }}
                    {{ form_errors(edit_form.email)}}
                </div>
				<a class="btn btn-xs btn-danger">This User Password:- {{user.plainPassword}}</a>
            </div>
				<div class="control-group">
						<label class="control-label" for="inputPassword">Password*</label>
					<div class="controls">
						{{ form_widget(edit_form.plainpassword.first, { 'attr':{class:'form-control', 'value':user.plainPassword, 'placeholder':'Password','required': true} }) }}
						{{form_errors(edit_form.plainpassword.first)}}
					</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="inputRePassword">Retype Password*</label>
					<div class="controls">
						{{ form_widget(edit_form.plainpassword.second, { 'attr':{class:'form-control', 'value':user.plainPassword, 'placeholder':'Confirm Password','required': true} }) }}
						{{form_errors(edit_form.plainpassword.second)}}
					</div>
				</div>
            <div class="control-group">
                <label class="control-label" for="appbundle_admin_add_isActive">Active*</label>
                <div class="controls">
                    {{ form_widget(edit_form.isActive, { 'attr':{class:'form-control','placeholder':'Active','required': false} }) }}
                    {{form_errors(edit_form.isActive)}}
                </div>
            </div>
        </div>
        <div class="well">
            <div class="control-group">
                <label class="control-label" for="appbundle_admin_add_phone_number">EMERGENCY PHONE 24 HOURS</label>
                <div class="controls">
                    {{ form_widget(edit_form.phone_number, { 'attr':{class:'form-control','required': false} }) }}
                    {{form_errors(edit_form.phone_number)}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="appbundle_admin_add_address">City</label>
                <div class="controls">
                    {{ form_widget(edit_form.city, { 'attr':{class:'form-control','required': false} }) }}
                    {{form_errors(edit_form.city )}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="appbundle_admin_add_address">Country</label>
                <div class="controls">
                    {{ form_widget(edit_form.country, { 'attr':{class:'form-control','required': false} }) }}
                    {{form_errors(edit_form.country )}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="appbundle_admin_add_address">Roles</label>
                <div class="controls">
                    {{ form_widget(edit_form.roles, { 'attr':{class:'form-control','required': false} }) }}
                    {{form_errors(edit_form.roles )}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {{ form_rest(edit_form) }}
		<div class="clearfix"> </div>
        <div class="control-group marginTop10">
            <div class="controls">
                <input type="submit" class="btn" value="Update" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% endblock %}
