{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
	{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="flash-notice">
		<h2 class="btn btn-xs btn-danger">{{ flashMessage }}</h2>
	</div>
	{% endfor %}
	<form action="{{ path('admin_login_check') }}" method="post" class="form-signin">
		<h2 class="form-signin-heading">Admin Login !</h2>
		<label class="sr-only" for="username">Username*</label>
			<input type="text" id="inputUsername" class="form-control" name="_username" placeholder="Username" required="" autofocus="">
		<label class="sr-only" for="password">Password*</label>
			<input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Password" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>	</form>
	</form>
</div>
{% endblock %}
