{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header btn-lg btn-success">User's List</h2>
<p>
	<a class="btn btn-primary" href="{{ path('_admin') }}" role="button">Back to the list <<</a>
	<a class="btn btn-primary" href="{{ path('admin_user_add') }}" role="button">Create a New User >></a>
</p>
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
	<h2 class="btn btn-xs btn-danger">{{ flashMessage }}</h2>
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="flash-notice">
	<h2 class="btn btn-xs btn-success"">{{ flashMessage }}</h2>
</div>
{% endfor %}
{% if userLists|length > 0 %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
	{% for user in userLists %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td><a href="{{ path('admin_profile_show', { 'id': user.id }) }}">Show</a></td>
            <td><a href="{{ path('admin_profile_edit', { 'id': user.id }) }}">Edit</a></td>
            <td><a href="{{ path('admin_profile_delete', { 'id': user.id }) }}"">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% else %}
<p>No Data</p>
    {% endif %}
{% endblock %}
