<!DOCTYPE html>
<html>
    <head>
		{% block head %}
		{% endblock %}
		<meta charset="UTF-8" />
		<title>{% block title %}Welcome LeadGrab !{% endblock %}</title>
		<link rel="icon" href="{{ asset('bundles/frontend/images/favicon.ico') }}">
		{% block stylesheets %}
			<!-- Bootstrap core CSS -->
			<link href="{{ asset('bundles/frontend/css/bootstrap.min.css') }}" rel="stylesheet">
			<!-- Custom styles for this template -->
			<link href="{{ asset('bundles/frontend/css/navbar.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/frontend/css/dashboard.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/frontend/css/signin.css') }}" rel="stylesheet">
		{% endblock %}
		{% block javascriptss %}
			<script src="{{ asset('bundles/frontend/js/ie-emulation-modes-warning.js') }}"></script>
		{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
			<script src="{{ asset('bundles/frontend/js/jquery.min.js') }}"></script>
			<script src="{{ asset('bundles/frontend/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('bundles/frontend/js/ie10-viewport-bug-workaround.js') }}"></script>
		{% endblock %}
    </body>
</html>
