{% extends '::base.html.twig' %}
{% block body %}
	{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{path('_admin')}}">LeadGrab Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
		<li><a href="{{path('_admin')}}">Dashboard</a></li>
		</ul>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ path('admin_user_profile_show') }}">Profile <span class="sr-only">(current)</span></a></li>
			<li><a href="{{ path('admin_logout') }}">Logout <span class="sr-only">(current)</span></a></li>
		</ul>
		{% else %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ path('admin_login') }}">Login <span class="sr-only">(current)</span></a></li>
		</ul>
		{% endif %}
        </div>
      </div>
    </nav>
	{% endblock %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="#"><a href="{{path('_admin')}}">Overview <span class="sr-only">(current)</span></a></li>
            <li class="#"><a href="{{path('admin_customers')}}">Customers</a></li>
            <li class="#"><a href="{{path('admin_user_list')}}">Users</a></li>
            <li class="#"><a href="{{path('admin_roles')}}">Roles</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
		{% block content %}
		{% endblock %}
        </div>
      </div>
    </div>
	{% block footer %}
	{% endblock %}
{% endblock %}
