{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
	{% block header %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
				<a class="navbar-brand" href="{{path('_home')}}">LeadGrab </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{path('_home')}}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li><a href="{{ path('user_profile_show') }}">Profile <span class="sr-only">(current)</span></a></li>
					<li><a href="{{ path('user_logout') }}">Logout <span class="sr-only">(current)</span></a></li>
				{% else %}
					<li><a href="{{ path('user_login') }}">Login <span class="sr-only">(current)</span></a></li>
					<li><a href="{{ path('user_register') }}">Register <span class="sr-only">(current)</span></a></li>
				{% endif %}
            </ul>
          </div>
        </div>
      </nav>
	{% endblock %}
	{% block content %}
	{% endblock %}
</div>
{% endblock %}
