{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header">Customer Edit</h2>
<p><a class="btn btn-primary" href="{{ path('admin_roles') }}" role="button">Back to the list <<</a></p>
{{ form(delete_form) }}
<div class="span6 well form-signin">
	{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="flash-notice">
		<h2 class="btn btn-xs btn-success">{{ flashMessage }}</h2>
	</div>
	{% endfor %}
	{{ form_start(edit_form) }}
    {{ form_errors(edit_form, { 'attr':{class:'form-signin'} }) }}
    {{ form_row(edit_form.role, { 'attr':{class:'form-control','placeholder':'Role'} }) }}

    {{ form_row(edit_form.submit, { 'label': 'Update' }) }}
{{ form_end(edit_form) }}
</div>
{% endblock %}
