{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header btn-lg btn-warning">Role's List</h2>
<p>
	<a class="btn btn-primary" href="{{ path('_admin') }}" role="button">Back to the list <<</a>
	<a class="btn btn-primary" href="{{ path('admin_roles_new') }}" role="button">Create a New Roles >></a>
</p>
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
	<h2 class="btn btn-xs btn-danger"">{{ flashMessage }}</h2>
</div>
{% endfor %}
{% if entities|length > 0 %}
<table class="table table-bordered">
    <thead>
        <tr>
			<th>Id</th>
			<th>Role</th>
			<th>Action</th>
        </tr>
    </thead>
    <tbody>
	{% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.role }}</td>
            <td><a href="{{ path('admin_roles_show', { 'id': entity.id }) }}">Show</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
	<p>No Data</p>
{% endif %}
{% endblock %}
