{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header">Roles Create</h2>
<p><a class="btn btn-primary" href="{{ path('admin_roles') }}" role="button">Back to the list <<</a></p>
<div class="span6 well form-signin">
	{{ form_start(form) }}
    {{ form_errors(form, { 'attr':{class:'form-signin'} }) }}
    {{ form_row(form.role, { 'attr':{class:'form-control','placeholder':'role'} }) }}
    {{ form_row(form.submit, { 'label': 'Submit me' }) }}
{{ form_end(form) }}
</div>
{% endblock %}
