{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header">Roles View</h2>
<p>
	<a class="btn btn-primary" href="{{ path('admin_roles') }}" role="button">Back to the list << </a>
	<a class="btn btn-primary" href="{{ path('admin_roles_edit', { 'id': entity.id }) }}" role="button">Edit >></a>
	{{ form(delete_form) }}
</p>
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
	<h2 class="form-signin-heading btn btn-xs btn-success">{{ flashMessage }}</h2>
</div>
{% endfor %}
<table class="table table-bordered">
    <thead>
        <tr>
		  <th>Id</th>
		  <th>Role</th>
        </tr>
    </thead
    <tbody>
        <tr>
			<td>{{ entity.id }}</td>
			<td>{{ entity.role }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
