{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}	
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tr>
		
	Hi {{user.username}},</br>
		Please follow the link below to activate your account:</br>
		<a href="{{ url('user_authenticate_process',{'token':user.token}) }}">Comfirm your registration</a>

	</tr>
</table>  
{% endblock %}
