{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<h3>Authentication Confirmation</h3>
 Your registration has been authenticated . Pls Click here for complete your profile :<a href="{{ path('user_complete_profile') }}">Complete Your Profile</a>
{% endblock %}
