{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<div class="container">
		<form class="form-signin" action="{{ path('user_complete_profile') }}" method="post" {{ form_enctype(comp_form) }}>
			<h2 class="form-signin-heading">Update Profile</h2>
			<div class="row-fluid">
					<div class="span5">
						<div class="control-group">
			<label class="control-label" for="user_complete_first_name">First Name*</label>
							<div class="controls">
								{{ form_widget(comp_form.first_name, { 'attr':{class:'form-control'} }) }}
								{{ form_errors(comp_form.first_name) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="user_complete_last_name">Last Name*</label>
							<div class="controls">
							{{ form_widget(comp_form.last_name, { 'attr':{class:'form-control'} }) }}
							{{ form_errors(comp_form.last_name) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="user_complete_gender">Gender*</label>
							<div class="controls">
								{{ form_widget(comp_form.gender, { 'attr':{class:'form-control'} }) }}
								{{ form_errors(comp_form.gender) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="user_complete_phone_number">Contact Number*</label>
							<div class="controls">
		                        {{ form_widget(comp_form.phone_number, { 'attr':{class:'form-control'} }) }}
		                        {{ form_errors(comp_form.phone_number) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="user_complete_state">City*</label>
							<div class="controls">
								{{ form_widget(comp_form.city, { 'attr':{class:'form-control'} }) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="user_complete_country">Country*</label>
							<div class="controls">
								{{ form_widget(comp_form.country, { 'attr':{class:'form-control'} }) }}
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn">Update</button>
							</div>
						</div>
					</div>
				</div>
				{{ form_rest(comp_form) }}
			</form>
		</form>
		    <ul class="supplier-dashboard">
            <li>
		     <a href="{{ path('user_profile_show', { 'id': user.id }) }}">Back to Profile</a>
			</li>
		</ul>
</div>
{% endblock %}
