{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<h2>Edit your Profile</h2>
	<form class="form-horizontal" action="{{ path('user_profile_update', { 'id': user.id }) }}" method="POST">
				<div class="row-fluid">
					<div class="span5">
						<div class="control-group">
							<label class="control-label" for="inputEmail">First Name*</label>
							<div class="controls">
								{{ form_widget(edit_form.first_name, {'attr': {'class': 'validate[required]', 'data-errormessage-value-missing':'First Name is required'}}) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">Last Name*</label>
							<div class="controls">
								{{ form_widget(edit_form.last_name, {'attr': {'class': 'validate[required]', 'data-errormessage-value-missing':'Last Name is required'}}) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">Gender*</label>
							<div class="controls">
								{{ form_widget(edit_form.gender) }}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputEmail">Contact Number*</label>
							<div class="controls">
								{{ form_widget(edit_form.phone_number, {'attr': {'class': 'validate[min[1], custom[integer]]', 'data-errormessage-value-missing':'Contact Number is required', 'maxlength':15}}) }}
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn">Submit</button>
							</div>
						</div>
					</div>
				</div>
				{{ form_rest(edit_form) }}
			</form>
{% endblock %}
