{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<div class="container">
		{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="flash-notice">
			<h2 class="btn btn-xs btn-success">{{ flashMessage }}</h2>
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="flash-notice">
			<h2 class="btn btn-xs btn-danger">{{ flashMessage }}</h2>
		</div>
		{% endfor %}
    <form action="{{ path('user_forgot_password') }}" method="post" class="form-signin">
		<h2 class="form-signin-heading">Forgot Password !</h2>
		<div class="control-group">
			<div class="controls">
				{{ form_widget(form.email, { 'attr':{class:'form-control','placeholder':'Email'} }) }}
				{{ form_errors(form.email) }}
			</div>
		</div>
        {{ form_rest(form) }}
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="{{'Submit'|trans}}" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
