{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<div class="container">
		{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="flash-notice">
			<h2 class="btn btn-xs btn-success">{{ flashMessage }}</h2>
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="flash-notice">
			<h2 class="btn btn-xs btn-danger">{{ flashMessage }}</h2>
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('login_error') %}
		<div class="flash-notice">
			<h2 class="btn btn-xs btn-danger">{{ flashMessage }}</h2>
		</div>
		{% endfor %}
		<form class="form-signin" action="{{ path('user_login_check') }}" method="post" >
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputUsername" class="sr-only">Username</label>
				<input type="text" id="inputUsername" class="form-control" name="_username" placeholder="Username" required="" autofocus="">
			<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Password" required="">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
		<div style="float:right; font-size: 100%; position: relative; top:-10px"><a href="{{path('user_forgot_password')}}">Forgot password?</a></div></br>
</div>
{% endblock %}
