{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<h3>Forget your Password !</h3>
<p><b>Please Enter Your Email Id</b></p>
<form action="{{ path('user_password_recovery_process') }}" method="GET">
    <input type="text" name="q" />
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}
{% endblock %}
