{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
{% block breadcrumb %}
    <li class="last-breadcrumb">{{'View Profile'|trans}}</li>
{% endblock %}
{% block profile %}
	{% for flashMessage in app.session.flashbag.get('success') %}
	<div class="flash-notice">
		<h2 class="btn btn-xs btn-success">{{ flashMessage }}</h2>
	</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('error') %}
	<div class="flash-notice">
		<h2 class="btn btn-xs btn-danger">{{ flashMessage }}</h2>
	</div>
	{% endfor %}
    <div class="span4">({{app.user.username}}) {{'Profile'|trans}}</div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{{'User'|trans}}{{' :'}}</th>
                <td>{{ user.username}}</td>
            </tr>
            <tr>
                <th>{{'Password'|trans}}{{' :'}}</th>
                <td>{{ user.plainpassword}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{{'Gender'|trans}}{{' :'}}</th>
                <td>
					{% if user.gender == '1' %}
                     Male
                    {% elseif user.gender == '2' %}
                     Female
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'City'|trans}}{{' :'}}</th>
                <td>
                     {{ user.city}}
                </td>
            </tr>
            <tr>
                <th>{{'Country'|trans}}{{' :'}}</th>
                <td>
                     {{ user.country}}
                </td>
            </tr>
            <tr style="color:#F44242">
                <th>{{'EMERGENCY PHONE 24 HOURS'|trans}}{{' :'}}</th>
                <td>{{ user.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
<p>
  <a class="btn btn-lg btn-primary" href="{{path('user_complete_profile')}}" role="button">Update Your Profile &raquo;</a>
</p>
{% endblock %}
