{% extends 'FrontendBundle::layout.html.twig' %}
{% block content %}
<div class="container">
    		<form action="{{ path('user_register') }}" method="POST" class="form-signin" autocomplete="off" novalidate >
			<h2 class="form-signin-heading">Create Account</h2>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Username*</label>
					<div class="controls">
						{{ form_widget(form.username, { 'attr':{class:'form-control','placeholder':'Username'} }) }}
						{{ form_errors(form.username)}}
	     			</div>
	     		</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Email*</label>
					<div class="controls">
						{{ form_widget(form.email, { 'attr':{class:'form-control','placeholder':'Email'} }) }}
						{{ form_errors(form.email)}}
	     			</div>
	     		</div>
				<div class="control-group">
						<label class="control-label" for="inputPassword">Password*</label>
					<div class="controls">
						{{ form_widget(form.plainpassword.first, { 'attr':{class:'form-control','placeholder':'Password','required': false} }) }}
						{{form_errors(form.plainpassword.first)}}
						<span style="color: red; font-size: 11px; display: block;">Maximum Length of password should be 6</span>
					</div>
				</div>
				<div class="control-group">
						<label class="control-label" for="inputRePassword">Retype Password*</label>
					<div class="controls">
						{{ form_widget(form.plainpassword.second, { 'attr':{class:'form-control','placeholder':'Confirm Password','required': false} }) }}
						{{form_errors(form.plainpassword.second)}}
					</div>
				</div>
				{{ form_rest(form) }}
				<div class="control-group marginTop10">
					<div class="controls">
						<input type="submit" class="btn btn-lg btn-primary btn-block" value="Register" />
					</div>
				</div>
			</form>
			</div>
{% endblock %}
