{% extends 'FrontendBundle::layout.html.twig' %}{% block content %}
  {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="flash-success">
        {{ flashMessage }}
    </div>
    {% endfor %}
{% endblock %}
