{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header">Customer Edit</h2>
<p><a class="btn btn-primary" href="{{ path('admin_customers') }}" role="button">Back to the list <<</a></p>
{{ form(delete_form) }}
<div class="span6 well form-signin">
	{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="flash-notice">
		<h2 class="btn btn-xs btn-success">{{ flashMessage }}</h2>
	</div>
	{% endfor %}
	{{ form_start(edit_form) }}
    {{ form_errors(edit_form, { 'attr':{class:'form-signin'} }) }}
    {{ form_row(edit_form.name, { 'attr':{class:'form-control','placeholder':'Name'} }) }}
    {{ form_row(edit_form.address1, { 'attr':{class:'form-control','placeholder':'Address1'} }) }}
    {{ form_row(edit_form.address2, { 'attr':{class:'form-control','placeholder':'Address2'} }) }}
    {{ form_row(edit_form.city, { 'attr':{class:'form-control','placeholder':'City'} }) }}
    {{ form_row(edit_form.state, { 'attr':{class:'form-control','placeholder':'State'} }) }}
    {{ form_row(edit_form.zip, { 'attr':{class:'form-control','placeholder':'Zip'} }) }}
    {{ form_row(edit_form.country, { 'attr':{class:'form-control','placeholder':'Country'} }) }}

    {{ form_row(edit_form.submit, { 'label': 'Update' }) }}
{{ form_end(edit_form) }}
</div>
{% endblock %}
