{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header">Customer Create</h2>
<p><a class="btn btn-primary" href="{{ path('admin_customers') }}" role="button">Back to the list <<</a></p>
<div class="span6 well form-signin">
	{{ form_start(form) }}
    {{ form_errors(form, { 'attr':{class:'form-signin'} }) }}
    {{ form_row(form.name, { 'attr':{class:'form-control','placeholder':'Name'} }) }}
    {{ form_row(form.address1, { 'attr':{class:'form-control','placeholder':'Address1'} }) }}
    {{ form_row(form.address2, { 'attr':{class:'form-control','placeholder':'Address2'} }) }}
    {{ form_row(form.city, { 'attr':{class:'form-control','placeholder':'City'} }) }}
    {{ form_row(form.state, { 'attr':{class:'form-control','placeholder':'State'} }) }}
    {{ form_row(form.zip, { 'attr':{class:'form-control','placeholder':'Zip'} }) }}
    {{ form_row(form.country, { 'attr':{class:'form-control','placeholder':'Country'} }) }}

    {{ form_row(form.submit, { 'label': 'Submit me' }) }}
{{ form_end(form) }}
</div>
{% endblock %}
