{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<h2 class="sub-header">Customer View</h2>
<p>
	<a class="btn btn-primary" href="{{ path('admin_customers') }}" role="button">Back to the list << </a>
	<a class="btn btn-primary" href="{{ path('admin_customers_edit', { 'id': entity.id }) }}" role="button">Edit >></a>
	{{ form(delete_form) }}
</p>
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
	<h2 class="form-signin-heading btn btn-xs btn-success">{{ flashMessage }}</h2>
</div>
{% endfor %}
<table class="table table-bordered">
    <thead>
        <tr>
		  <th>Id</th>
		  <th>Name</th>
		  <th>Address1</th>
		  <th>Address2</th>
		  <th>City</th>
		  <th>State</th>
		  <th>Zip</th>
		  <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
			<td>{{ entity.id }}</td>
			<td>{{ entity.name }}</td>
			<td>{{ entity.address1 }}</td>
			<td>{{ entity.address2 }}</td>
			<td>{{ entity.city }}</td>
			<td>{{ entity.state }}</td>
			<td>{{ entity.zip }}</td>
			<td>{{ entity.country }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
